*,
::after,
::before {
    box-sizing: border-box;
}

html {
    font-size: 100%;
    scroll-behavior: smooth;
}

:root {
    --black: #181818;
    --white: #FFFFFF;
    --grey-main: #E1DFDF;
    --grey-1: #D9D9D9;
    --grey-2: #F3F3F3;
    --grey-4: #F5F5F5;
    --grey-5: #A7A7A7;
    --grey-6: #A9A9A9;
    --dark-grey: #848181;


    --button: #FF4D4D;
    --background: #F8F9FF;

    --headingFont: "Arial", sans-serif;
    --bodyFont: "Arial", sans-serif;

    --backgroundColor: var(--background);
    --textColor: var(--black);
    --borderRadius: 0.5rem;
    --letterSpacing: 1px;
    --transition: 0.3s ease-in-out all;
    --max-width: 1120px;
    --fixed-width: 600px;
}

body {
    background: var(--backgroundColor);
    font-family: var(--bodyFont);
    font-weight: 400;
    line-height: 1.1;
    color: var(--textColor);
}

p {
    margin-top: 0;
    max-width: 30em;
    font-weight: 400;
    margin-bottom: 1.5rem;
}

h1,
h2,
h3,
h4,
h5 {
    margin: 0;
    font-family: var(--headingFont);
    font-weight: 400;
    line-height: 1.1;
    text-transform: capitalize;
    letter-spacing: var(--letterSpacing);
}

h1 {
    margin-top: 0;
    font-size: 3.052rem;
}

h2 {
    font-size: 2.441rem;
}

h3 {
    font-size: 1.953rem;
}

h4 {
    font-size: 1.563rem;
}

h5 {
    font-size: 1.25rem;
    font-weight: 600;
}


a {
    text-decoration: none;
    color: var(--black);
}

ul {
    list-style-type: none;
    padding: 0;
}

nav {
    background-color: var(--white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 3rem;
}