*,
::after,
::before {
    box-sizing: border-box;
}

html {
    font-size: 100%;
    scroll-behavior: smooth;
}

:root {
    --black: #181818;
    --white: #FFFFFF;
    --grey-main: #E1DFDF;
    --grey-2: #F3F3F3;
    --dark-grey: #848181;
    --background: #F8F9FF;

    /* --headingFont: "Arial", sans-serif;
    --bodyFont: "Arial", sans-serif; */

    --backgroundColor: var(--background);
    --textColor: var(--black);
    --borderRadius: 0.5rem;
    --letterSpacing: 1px;
    --transition: 0.3s ease-in-out all;
    --max-width: 1120px;
    --fixed-width: 600px;
}

body {
    background: var(--backgroundColor);
    font-family: var(--bodyFont);
    font-weight: 400;
    line-height: 1.1;
    color: var(--textColor);
}

p {
    margin-top: 0;
    font-weight: 400;
}

h1,
h2,
h3,
h4 {
    margin: 0;
    font-family: var(--headingFont);
    font-weight: 400;
    line-height: 1.1;
    text-transform: capitalize;
    letter-spacing: var(--letterSpacing);
}

h1 {
    margin-top: 0;
    font-size: 3.052rem;
}

h2 {
    font-size: 2.441rem;
}

h3 {
    font-size: 1.953rem;
}

h4 {
    font-size: 1.563rem;
}

h5 {
font-size: 1.25rem;
margin: 0;
font-family: var(--headingFont);
font-weight: 400;
line-height: 1.1;
}


a {
    text-decoration: none;
    color: var(--black);
}

ul {
    list-style-type: none;
    padding: 0;
}

nav {
    background-image: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="1440" height="167" viewBox="0 0 1440 167" fill="none"><path d="M-0.947266 -0.947266H1441.89V166.627H-0.947266V-0.947266Z" fill="url(%23paint0_linear_312_4256)"/><defs><linearGradient id="paint0_linear_312_4256" x1="720.473" y1="-0.947266" x2="720.473" y2="166.627" gradientUnits="userSpaceOnUse"><stop stop-color="%2306FF4B" stop-opacity="1.0"/><stop offset="1" stop-color="%2300B131" stop-opacity="0.5"/></linearGradient></defs></svg>');
}

.scroll-horizontal{display: none; overflow-x: auto;gap: 24px;}

.scroll-horizontal::-webkit-scrollbar{display: none;}

